.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.topNav {
  width: 100%;
  padding: 1rem;
  color: white;
  border: 1px solid var(--border-color);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bottomNav {
  width: 100%;
  padding: 1rem;
  color: white;
  border: 1px solid var(--border-color);
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  margin-top: -1px;
  font-size: 0.7rem;
}

.contentContainer {
  display: flex;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.leftColumn {
  width: 275px;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-top: none;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
}

.leftColumn:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.leftColumnContent {
  display: flex;
  flex-direction: column;
}

.leftColumn h1 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  letter-spacing: 0.13rem;
}

.viewByType h2 {
  font-size: 1em;
  margin-bottom: 15px;
  font-size: 1rem;
}

.viewByType p {
  font-size: 1em;
  padding-bottom: 0.5em;
}

.viewByType ul {
  list-style-type: none;
  padding: 0;
}

.viewByType li {
  margin-bottom: 10px;
}

.type {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  font-size: 0.7rem;
}

.about {
  margin-top: 30px;
}

.about p {
  margin-bottom: 5px;
  font-size: 1rem;
}

.gridContainer {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
  overflow-x: hidden;
}

.gridItemWrapper {
  border: 1px solid var(--border-color);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: -1px 0 0 -1px;
  box-sizing: border-box;
}

.gridItemWrapper:hover {
  background-color: rgba(240, 240, 240, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.gridItem {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  box-sizing: border-box;
  gap: 10px;
}

.gridItem p {
  font-size: 0.8em;
}

.projectTitle {
  font-weight: bold;
}

.projectTypes {
  display: flex;
  gap: 5px;
}

.projectType {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--highlight-color);
}

@media (max-width: 1080px) and (min-width: 601px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    overflow-y: auto;
    gap: 0;
    padding: 0;
    display: grid;
  }

  .gridItemWrapper {
    border-radius: 10px;
    min-height: 300px;
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid var(--border-color);
  }
  .gridItem {
  }

  /* Remove the box shadow to prevent visual overlap */
  .gridItemWrapper {
    box-shadow: none;
  }

  /* Add box shadow only on hover */
  .gridItemWrapper:hover {
    position: relative; /* Ensures shadow appears above siblings */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
}

@media (max-width: 600px) {
  .mainContainer {
    position: relative;
    height: auto;
    min-height: 100vh;
  }

  .contentContainer {
    flex-direction: column;
  }

  .leftColumn {
    width: calc(100% - 20px);
    margin: 0 10px;
    border: 1px solid var(--border-color);
    margin-top: -1px;
  }

  .gridContainer {
    grid-template-columns: 1fr;
    padding-right: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -1px;
  }

  .gridItemWrapper {
    width: 100%;
  }
  .bottomNav {
    width: calc(100% - 20px);
    margin: 0 10px;
    margin-top: -1px;
  }

  .gridContainer {
    display: flex;
    flex-direction: column;
  }

  .gridItemWrapper {
    width: 100%;
    margin: 0;
    border-radius: 10px;
    border-top: none;
  }

  .gridItemWrapper:first-child {
    border-top: 1px solid var(--border-color);
  }

  .gridItem {
    min-height: 250px;
    width: 100%;
  }
}
