:root {
  --theme-transition-duration: 0.6s;
  /* Light theme variables */
  --background-light: #f9f9f9;
  --foreground-light: #171717;
  --background-color-light: #f0f0f0;
  --text-color-light: #fbe6e1;
  --h2-color-light: #e37b3c;
  --h1-color-light: #ebb546;
  --highlight-color-light: #0a0a0a;
  --border-color-light: #000;

  /* Dark theme variables */
  --background-dark: #2a2a2a;
  --foreground-dark: #fbe6e1;
  --background-color-dark: #0a0a0a;
  --text-color-dark: #fbe6e1;
  --h2-color-dark: #2eff82;
  --highlight-color-dark: #2eff82;
  --border-color-dark: #fff;
}

/* Light theme */
.light {
  --background: var(--background-light);
  --foreground: var(--foreground-light);
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --h2-color: var(--h2-color-light);
  --h1-color: var(--h1-color-light);
  --highlight-color: var(--highlight-color-light);
  --border-color: var(--border-color-light);
}

/* Dark theme */
.dark {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --h2-color: var(--h2-color-dark);
  --highlight-color: var(--highlight-color-dark);
  --border-color: var(--border-color-dark);
}

* {
  padding: 0;
  margin: 0;
}
body {
  color: var(--foreground);
  background: var(--background);
  /* overflow-x: hidden; */
  min-height: 100vh; /* Ensure the body is at least as tall as the viewport */
}

*,
*::before,
*::after {
  transition: background-color var(--theme-transition-duration) ease,
    color var(--theme-transition-duration) ease,
    border-color var(--theme-transition-duration) ease,
    box-shadow var(--theme-transition-duration) ease;
}
a {
  text-decoration: none;
  color: inherit;
}
