.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  transition: background-color var(--theme-transition-duration) ease,
    color var(--theme-transition-duration) ease;
  height: 100svh;
  width: 100vw;
  background-color: var(--background);
  color: var(--foreground);
}

.page h1 {
  font-family: var(--font-2197-heavy);
  line-height: 0.8;
  letter-spacing: -2px;
  color: var(--h1-color);
}

.page h2 {
  font-family: var(--font-block-2197);
  line-height: 0.8;
  letter-spacing: 4px;
  color: var(--h2-color);
}

.page p {
  font-family: var(--font-instructions);
  font-size: 1.1em;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: var(--text-color);
}
